{% extends "base.html" %}

{% block content %}

<div class="container">
	<!--Section: FAQ-->
	<section>
		<h3 class="text-center mb-4 pb-2 text-primary fw-bold">FAQ</h3>
			<p class="text-center mb-5">
				Find the answers for the most frequently asked questions below
			</p>

		<div class="row">
			<div class="col-md-6 col-lg-4 mb-4">
				<h5 class="mb-3 text-primary">Why is this website so popular and trustworthy?</h5>
				<p><strong><u>We don't know!</u></strong> Everyone tells us that, it's insane that we are just so trustable! You should buy our products right now, since everyone asks us this so often that we had to put it in the FAQs. It's crazy!</p>
			</div>

			<div class="col-md-6 col-lg-4 mb-4">
                                <h5 class="mb-3 text-primary">Why are your products always so accurate?</h5>
                                <p><strong><u>We believe in customer happiness!</u></strong> What you pay for is what you should get, without fail. We will never scam you.
                        </div>

			<div class="col-md-6 col-lg-4 mb-4">
				<h5 class="mb-3 text-primary">I want a return.</h5>
			</div>

		</div>

		<div class="row">
			<div class="col-md-6 col-lg-4 mb-4">
				<h5 class="mb-3 text-primary">How much wood can a wood chuck chuck if a wood chuck could chuck wood?</h5>
				<p>Depends on how much potassium it has consumed.</p>
			</div>
		</div>
	</section>
</div>

{% endblock %}

