{% extends "base.html" %}

{% block content %}
<!-- Product section-->
<section class="py-5">
	<div class="container px-4 px-lg-5 my-5">
		<div class="row gx-4 gx-lg-5 align-items-center">
			<div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{ item.image_url }}" alt="..." /></div>
				<div class="col-md-6">
					<div class="small mb-1">ITEM ID: {{ item.id }}</div>
						<h1 class="display-5 fw-bolder">{{ item.name }}</h1>
					<div class="fs-5 mb-5">
					<span>${{ item.price }}</span>
				</div>
				<p class="lead">{{ item.description }}</p>
<!--				<p class="lead">Stock left: {{ item.stock }}</p>-->
				<p class="lead">Seller: {{ item.author.name }}</p>
				<div class="d-flex">
					<a class="btn btn-outline-dark flex-shrink-0" type="button" role="button">Add to cart</a>
					<a class="btn btn-dark" href="{{ url_for('buyNow', id=item.id) }}" role="button">Buy Now!</a>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Related items section-->
<section class="py-5 bg-light">
	<div class="container px-4 px-lg-5 mt-5">
		<h2 class="fw-bolder mb-4">Featured products</h2>
			<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
				<div class="col mb-5">
					<div class="card h-100">
						<img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
						<div class="card-body p-4">
							<div class="text-center">
								<h5 class="fw-bolder">Fancy Product</h5>
								$40.00 - $80.00
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}
