{% extends "base.html" %}

{% block content %}

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/purchase.css') }}">

<!-- Product section-->
<section class="py-5">
	<div class="container px-4 px-lg-5 my-5">
		<div class="row gx-4 gx-lg-5 align-items-center">
			<div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{ item.image_url }}" alt="..." /></div>
				<div class="col-md-6">
					<div class="small mb-1">ITEM ID: {{ item.id }}</div>
						<h1 class="display-5 fw-bolder">{{ item.name }}</h1>
					<div class="fs-5 mb-5">
					<span>${{ item.price }}</span>
				</div>
				<p class="lead">{{ item.description }}</p>
<!--				<p class="lead">Stock left: { item.stock }}</p>-->
				<p class="lead">Seller: {{ seller.username }}</p>
				<div class="d-flex">
					<a class="btn btn-outline-dark flex-shrink-0" type="button" role="button">Add to cart</a>
					<a class="btn btn-dark" href="{{ url_for('buyNow', id=item.id) }}" role="button">Buy Now!</a>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Related items section-->
<section class="py-5 bg-light">
	<div class="container px-4 px-lg-5 mt-5">
		<h2 class="fw-bolder mb-4">Newest products</h2>
		<div class="shop-items">
			<div class="container-fluid">
        		        <div class="row">
                		        {% for new in newest %}
                        		<div class="col-md-3 col-sm-6">
                               			<div class="item">
                                       			<div class="image">
                                       			        <a href="{{ url_for('purchaseItem', id=new.id) }}"><img class="img img-responsive full-width" src="{{ new.image_url }}" alt=""></a>
                                       			</div>
                                       			<div class="item-dtls">
                                       			        <h4><a href="{{ url_for('purchaseItem', id=item.id) }}">{{ new.name }}</a></h4>
                                       			        <span class="price black">${{ new.price }}</span>
                                       			</div>
                                       			<div class="ecom bg-black">
                                       			        <a class="btn btn-black" href="#" role="button">Add to cart</a>
                                       			</div>
                               			</div>
                        		</div>
                        		{% endfor %}
                		</div>
        		</div>
		</div>
	</div>
</section>

{% endblock %}
