{% extends "base.html" %}

{% block content %}
<!-- Product section-->
<section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
			<form method="POST" action="/sell">
				{{ form.hidden_tag() }}
                        	<div class="col-md-6">
					<label for="description">Image URL</label>
					<textarea class="form-control" name="image_url" rows="5"></textarea>
				</div>
				<div class="col-md-6">
        	        		<div class="small mb-1">ITEM ID:</div>
					<h5>{{ form.name.label }}</h5>
                        		<h1 class="display-5 fw-bolder">{{ form.name(size=16) }}</h1>
                                	<div class="fs-5 mb-5">
	                                 	<span>
							<h5>{{ form.price.label }}</h5>
							${{ form.price(size=8) }}
						</span>
	                                </div>
					<h5>
	                                	<p class="lead">
							<div class="form-group">
								<label for="description">Description</label>
								<textarea class="form-control" name="description" rows="3"></textarea>
							</div>
						</p>
					</h5>
	                                <div class="d-flex">
						{{ form.submit() }}
						<input class="btn btn-primary" type="submit" value="Submit">
					</div>
				</div>
			</form>
		</div>
	</div>
</section>

{% endblock %}
